{% extends "base.html" %}
{% block content %}
<div id="menu">
        <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="upload">Upload</a></li>
                <li><a href="image">Latest Image</a></li>
                <li><a href="image_list">All Images</a></li>
        </ul>
</div>
<div id="menubottom"></div>


<div id="content">
        <div id="normalcontent">
                <h3><strong>Image App</strong><span> by Matt Ao</span></h3>
                <div class="contentarea">

                        <img src="http://i.imgur.com/8BgTAqx.jpg" class="left" alt="A chinese lion statue" />
                        <p>#1 Web Server</p>
                </div>
        </div>


        <div class="divider1"></div>

        <div id="primarycontainer">
                <div id="primarycontent">

                        <!-- Primary content area end -->
                </div>
        </div>

</div>
{% endblock %}
