{% extends "base.html" %}
{% block content %}
<div id="menu">
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/content">Content</a></li>
                <li><a href="/file" class="active">Files</a></li>
                <li><a href="/image">Images</a></li>
        </ul>
</div>
<div id="menubottom"></div>


<div id="content">
        <div id="normalcontent">
                <h1><strong>File Page</strong></h1>
                <div class="contentarea">
                    <img src="/assets/images/pic3.jpg" class="left"/>
                    <p>file hurrr</p>
                </div>
        </div>


</div>
{% endblock %}
