{% extends "base.html" %}
{% block content %}
<div id="menu">
        <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/content">Content</a></li>
                <li><a href="/file">Files</a></li>
                <li><a href="/image">Images</a></li>
        </ul>
</div>
<div id="menubottom"></div>


<div id="content">
        <div id="normalcontent">
                <h3><strong>Mmm</strong><span> by Matt Ao</span></h3>
                <div class="contentarea">

                        <img src="/assets/images/pic1.jpg" class="left" alt="A chinese lion statue" />
                        <p>#1 Web Server</p>
                </div>
        </div>


        <div class="divider1"></div>

        <div id="primarycontainer">
                <div id="primarycontent">
                        <div class="post">
                                <h4>GET Request Form Submission</h4>
                                <div class="contentarea">
<form action='/submit' method='GET'>
<p>first name: <input type='text' name='firstname'></p>
<p>last name: <input type='text' name='lastname'></p>
<p><input type='submit' value='Submit'></p>
</form>
                                        <ul class="controls">
                                                <li><a href="#" class="printerfriendly">Printer Friendly</a></li>
                                                <li><a href="#" class="comments">Comments (18)</a></li>
                                                <li><a href="#" class="more">Read More</a></li>
                                        </ul>
                                </div>
                        </div>

                        <div class="divider2"></div>

                        <div class="post">
                                <h4>POST Request Form Submission</h4>
                                <div class="contentarea">

<form action='/submit' method='POST'>
<p>first name: <input type='text' name='firstname'></p>
<p>last name: <input type='text' name='lastname'></p>
<p><input type='submit' value='Submit'></p>
</form>

                                        <ul class="controls">
                                                <li><a href="#" class="printerfriendly">Printer Friendly</a></li>
                                                <li><a href="#" class="comments">Comments (18)</a></li>
                                                <li><a href="#" class="more">Read More</a></li>
                                        </ul>
                                </div>
                        </div>

                        <div class="divider2"></div>

                        <div class="post">
                                <h4>POST (multipart/form-data) Form Submission</h4>
                                <div class="contentarea">

<form action='/submit' method='POST' enctype='multipart/form-data'>
<p>first name: <input type='text' name='firstname'></p>
<p>last name: <input type='text' name='lastname'></p>
<p><input type='submit' value='Submit'></p>
</form>
                                        <ul class="controls">
                                                <li><a href="#" class="printerfriendly">Printer Friendly</a></li>
                                                <li><a href="#" class="comments">Comments (18)</a></li>
                                                <li><a href="#" class="more">Read More</a></li>
                                        </ul>
                                </div>
                        </div>

                        <!-- Primary content area end -->
                </div>
        </div>

</div>
{% endblock %}
